<div class="providers">
  <% @providers.each do |provider| %>
    <%= provider.container do %>

      <%= provider.header do %>
        <%= provider.name %>
        <%= provider.npi %>
      <% end %>

      <%= provider.body do %>
        <%= provider.specialty do |specialty| %>
          <%= specialty.specialization %>
          <%= specialty.classification.html_safe %>
          <%= specialty.type %>
        <% end %>

        <%= provider.address do |address| %>
          <%= address.street %>
          <%= address.city_state_zip %>
          <%= address.phone %>
          <%= address.fax %>
        <% end %>

      <% end %>

    <% end %>
  <% end %>
</div>
